{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSearch - Login</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="auth-wrapper">

    <div class="container">  
        <h1 class="logo">TechSearch</h1>
        
        <form id="loginForm" class="form" method="POST">
            {% csrf_token %}
            <h2>Login</h2>

            {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        <p class="error-text">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group">
                <input type="text" name="username" placeholder="Usuário" required>
                <i class="fas fa-user"></i>
            </div>

            <div class="input-group">
                <input type="password" name="password" placeholder="Senha" required>
                <i class="fas fa-lock"></i>
            </div>

            <button type="submit" class="btn-auth">ENTRAR</button>
            
            <div class="auth-footer">
                <p class="redirect">Não tem conta? <a href="{% url 'catalogo:cadastro' %}">Cadastre-se</a></p>
                <p class="redirect back-link"><a href="{% url 'catalogo:index' %}">← Voltar para a Loja</a></p>
            </div>
        </form>
    </div>

</body>
</html>